.header {
    background-color:#2e3c29;
    padding: 1rem;
    color: white;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .logout-btn {
    background-color: #061c03;
    border: none;
    padding: 6px 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  